node_modules
.DS_Store
dist
build
*.log
*.tmp
.env
.venv
__pycache__/
.pytest_cache/
*.pyc
client/.vite
client/dist
client/node_modules
client/vite.config.js
server/__pycache__/
server/.venv
server/*.pyc
