name: Build and Push Docker Images

on:
  push:
  release:
    types: [published]
  workflow_dispatch:

env:
  DOCKERHUB: lahiru98s

jobs:

  get-release-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: "call action"
        id: last_release
        uses: InsonusK/get-latest-release@v1.1.0
        with:
          myToken: ${{ github.token }}
          exclude_types: "release"
          view_top: 1
      - name: "Print result"
        run: |
          echo "tag_name: ${{ steps.last_release.outputs.tag_name }}"

  build-frontend:
    runs-on: ubuntu-latest
    needs: get-release-tag
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./client
          file: ./client/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.DOCKERHUB }}/lighthouse-ui:latest,${{ env.DOCKERHUB }} /lighthouse-ui:${{ github.event.release.tag_name }}
