name: Build and Push Docker Images

on:
  push:
  release:
    types: [published]
  workflow_dispatch:

env:
  DOCKERHUB: lahiru98s

jobs:

  get-release-tag:
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.latest_release.outputs.release || 'latest' }}
    steps:
      - name: Get latest release
        id: latest_release
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Print release tag
        run: echo "Release tag:${{ steps.latest_release.outputs.release }}"

  build-frontend:
    runs-on: ubuntu-latest
    needs: get-release-tag
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./client
          file: ./client/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.DOCKERHUB }}/lighthouse-ui:latest
            ${{ env.DOCKERHUB }}/lighthouse-ui:${{ needs.get-release-tag.outputs.tag_name }}
            ghcr.io/${{ github.repository_owner }}/lighthouse-ui:latest
            ghcr.io/${{ github.repository_owner }}/lighthouse-ui:${{ needs.get-release-tag.outputs.tag_name }}

#   build-backend:
#     runs-on: ubuntu-latest
#     needs: build-frontend
#     permissions:
#       contents: read
#       packages: write
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v5

#       - name: Login to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKERHUB_USERNAME }}
#           password: ${{ secrets.DOCKERHUB_TOKEN }}

#       - name: Login to GitHub Container Registry
#         uses: docker/login-action@v3
#         with:
#           registry: ghcr.io
#           username: ${{ github.actor }}
#           password: ${{ secrets.GITHUB_TOKEN }}

#       - name: Set up QEMU
#         uses: docker/setup-qemu-action@v3

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Build and push
#         uses: docker/build-push-action@v6
#         with:
#           context: ./client
#           file: ./client/Dockerfile
#           platforms: linux/amd64,linux/arm64
#           push: true
#           tags: |
#             ${{ env.DOCKERHUB }}/lighthouse-ui:latest
#             ${{ env.DOCKERHUB }}/lighthouse-ui:${{ needs.get-release-tag.outputs.tag_name }}
#             ghcr.io/${{ github.repository_owner }}/lighthouse-sv:latest
#             ghcr.io/${{ github.repository_owner }}/lighthouse-sv:${{ needs.get-release-tag.outputs.tag_name }}